html,
body,
div#root {
  height: 100%;
}

.checkbox-label {
  height: 100%;
  width: 100%;
  border: 1px solid #eee;
  outline: none;
  background: #eee;
  border-radius: 2px;
  transition: color, 0.3s;
}

.checkbox-label:hover {
  cursor: pointer;
  background: #ddd;
}
